.form-header{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 21px;
}
img{
    width: 100px;
    height: auto;
}
form{
    width: 100%;

    input{
        width: 100%;
        padding: 12px;
        background: none;
        border: 1px solid;
        border-radius: 4px;
    }
}