*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

section{
    min-height: 100vh;
    padding: 21px;
}

svg{
    width: 21px;
}

.form{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    flex-direction: column;
    background-color: rgba(22, 23, 29, 0.95);
    color: white;
    max-width: 550px;
    margin: 0 auto;
    border-radius: 1rem;
    padding: 3rem;

    .form-header{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 21px;

        img{
            width: 100px;
            height: auto;
        }
    }
    form{
        width: 100%;
        
        input{
            width: 100%;
            padding: 12px;
            background: none;
            border: 1px solid #ffffff;
            border-radius: 4px;
        }
    }

}